/* _article.scss */

@use "../design-tokens/color" as *;
@use "../design-tokens/dimension" as *;
@use "../design-tokens/space" as *;
@use "../design-tokens/typography" as *;

.foo {
  color: blue;

  &__bar {
    color: red;
  }
}

.article {
  @include uiFont();
  max-width: $maxContentWidth;

  // reset margins

  > * {
    margin: 0;
    padding: 0;
  }

  // general vertical space between all block elements

  & > * + *,
  & li > p + p {
    @include typeScale-2();
    margin-top: $defaultVerticalSpace;
  }

  & li + li {
    margin-top: $decreasedVerticalSpace;
  }

  // headings

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: $defaultVerticalSpace * 2;
    }
  }

  h1 {
    @include heading-1();
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include fontWeight-medium();
    @include typeScale-3();
  }
}

.article__intro {
  @include typeScale-3();
}
