/* _code.scss */

@use "../design-tokens/space" as *;
@use "../design-tokens/color" as *;
@use "../design-tokens/border" as *;

/*
Styling for the syntax-highlighted code
via https://highlightjs.org
*/

.hljs {
  @include defaultBorderRadius;
  background: $color-neutral-20;
  color: $color-neutral-80;
  line-height: $space-30;
  padding: $space-20;
}
