/* _code.scss */

@use "../design-tokens/space" as *;
@use "../design-tokens/color" as *;
@use "../design-tokens/border" as *;

/*
Styling for the syntax-highlighted code
via https://highlightjs.org
*/

code {
  font-size: 14px;
}

.hljs {
  background: $color-neutral-10;
  border-radius: $borderRadius-small;
  color: $color-neutral-80;
  line-height: $space-30;
  padding: $space-20;
}
