/* _header.scss */

@use "../design-tokens/color" as *;
@use "../design-tokens/dimension" as *;
@use "../design-tokens/space" as *;
@use "../design-tokens/typography" as *;

.header {
  @include uiFont;
  margin: 0 auto $space-400 auto;
  max-width: $maxContentWidth;
  padding: $space-200 $space-30 0 $space-30;
}

.header__title {
  @include typeScale-poster;
  @include fontWeight-medium;
  margin: 0;
}

.header__subTitle {
  @include typeScale-5;
  @include fontWeight-normal;
  margin: $space-20 0 0 0;
}

.header__meta {
  @include typeScale-2;
  @include fontWeight-normal;
  color: $color-neutral-50;
}
