/* _info.scss */

@use "../design-tokens/border" as *;
@use "../design-tokens/color" as *;
@use "../design-tokens/space" as *;
@use "../design-tokens/typography" as *;

.info {
  @include typeScale-2();
  background: $color-neutral-10;
  border-radius: $borderRadius-small;
  padding: $space-40;

  p {
    margin: 0;
  }

  p + p {
    margin-top: $space-20;
  }
}
