/* _linkList.scss */

@use "../design-tokens/breakPoint" as *;
@use "../design-tokens/border" as *;
@use "../design-tokens/color" as *;
@use "../design-tokens/space" as *;
@use "../design-tokens/typography" as *;
@use "../design-tokens/icon" as *;

.linkList {
  @include uiFont;
  list-style: none;
  padding: 0;
}

.linkList__item {
  padding: 0;
}

.linkList__anchor {
  align-items: flex-start;
  border-bottom: 1px solid $color-neutral-30;
  color: $lightmode-color-text;
  display: block;
  padding: $space-20 0 $space-20 $space-50;
  position: relative;
  text-decoration: none;

  @include breakpoint-m() {
    display: flex;
    padding: $space-20 0;
  }

  &:hover {
    @include icon-arrow-right($size: 24, $stroke: 1, $color: $color-neutral-50);
    background-position: center right;
    background-repeat: no-repeat;
    text-decoration: none;
  }

  .linkList__item:last-child & {
    border: 0;
  }
}

.linkList__icon {
  flex-shrink: 0;
  left: 0;
  margin: 0 $space-15 0 0;
  position: absolute;
  stroke: $color-neutral-50;
  top: $space-20;

  @include breakpoint-m() {
    position: static;
  }

  a:hover & {
    stroke: $lightmode-color-text;
  }
}

.linkList__title {
  @include fontWeight-normal;
  @include typeScale-2;
  color: $lightmode-color-text;
  line-height: $space-30;
  margin: 0;
}

.linkList__description {
  @include typeScale-2;
  color: $color-neutral-70;
  line-height: $space-30;
  margin: 0;

  @include breakpoint-m() {
    margin: 0 0 0 $space-10;
  }
}
