/* _root.scss */

@use "../design-tokens/color" as *;
@use "../design-tokens/space" as *;

html,
body {
  background-color: $lightmode-color-background-z2;
  color: $lightmode-color-text;
  margin: 0;
  padding: 0;
}

html::after {
  background-color: $color-neutral-160;
  content: " ";
  height: 50%;
  left: 0;
  position: fixed;
  top: -25%;
  width: 100%;
  z-index: -1;
}

body {
  min-height: 90vh;
  position: relative;
}

::selection {
  background-color: $color-primary-10;
  color: $color-primary-120;
}
