@charset "UTF-8";
/* reset.scss */
* {
  margin: 0;
  padding: 0; }

/* colors.scss */
/*
    "neutral" color shades

    basic, most used colors for the whole UI -
    the lower the number, the lighter the color
*/
/*
    "negative" color shades

    semantic coloring to mark destructive actions
    or error messages - the lower the number,
    the lighter the color
*/
/*
    "primary" color shades

    primary highlight color, also the primary
    brand color, used for all kinds of CTAs -
    the lower the number, the lighter the color
*/
/*
    "focus" color

    used to mark controls, eg. text inputs
    which are in focus state
*/
/* spacing.scss */
/*
    spacing scale

    used for all margins or paddings
    across the whole UI
*/
/* transitions */
/* typography.scss */
/* icons.scss */
/* styles.scss */
/*
    object styles

    shared appearance (eg. button & select, text input & textarea)
    abstracted into reusable mixins, referencing "layer styles"
    by the same names in the Sketch library
*/
.darkMode {
  background: #21253a; }

.lightMode {
  background: #f4f5f9; }

/* button.scss */
.button {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  border: 0;
  cursor: default;
  display: inline-block;
  flex-shrink: none;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 12px;
  text-decoration: none;
  transition: background-color 120ms ease-out, box-shadow 120ms ease-out; }

.button:hover {
  transition-duration: 75ms; }

.button--small {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 18px;
  height: 24px;
  line-height: 24px; }

.button--large {
  font-size: 19px;
  letter-spacing: 0;
  line-height: 28px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px; }

.darkMode .button--primary, .darkMode .button--primary:link, .darkMode .button--primary:visited {
  background-color: #0091a4;
  box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #00a8bf;
  color: #fff; }

.darkMode .button--primary:focus {
  background-color: #0091a4;
  box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--primary:hover {
  background-color: #00a8bf;
  box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #05bdd5; }

.darkMode .button--primary:active {
  box-shadow: none;
  background-color: #0091a4; }

.lightMode .button--primary, .lightMode .button--primary:link {
  background-color: #0091a4;
  box-shadow: inset 0 -1px 0 0 #007685, inset 0 1px 0 0 #00a8bf;
  color: #fff; }

.lightMode .button--primary:focus {
  background-color: #0091a4;
  box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff;
  outline: 0; }

.lightMode .button--primary:hover {
  background-color: #00a8bf;
  box-shadow: inset 0 -1px 0 0 #0091a4, inset 0 1px 0 0 #05bdd5; }

.lightMode .button--primary:active {
  box-shadow: none;
  background-color: #0091a4; }

.darkMode .button--secondary, .darkMode .button--secondary:link, .darkMode .button--secondary:visited {
  background: #434862;
  box-shadow: 0 1px 0 0 rgba(11, 13, 24, 0.5), inset 0 1px 0 0 #565c78;
  color: #fff; }

.darkMode .button--secondary:focus {
  background: #434862;
  box-shadow: inset 0 1px 0 0 #565c78, 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--secondary:hover {
  background: #565c78;
  box-shadow: 0 1px 0 0 rgba(11, 13, 24, 0.5), inset 0 1px 0 0 #6e7492; }

.darkMode .button--secondary:active {
  box-shadow: none;
  background-color: #434862; }

.lightMode .button--secondary, .lightMode .button--secondary:link, .lightMode .button--secondary:visited {
  background: #e0e2ec;
  box-shadow: inset 0 -1px 0 0 #cdd0e0;
  color: #434862; }

.lightMode .button--secondary:focus {
  background: #e0e2ec;
  box-shadow: inset 0 -1px 0 0 #cdd0e0, 0 0 0 2px #1a62ff;
  outline: 0; }

.lightMode .button--secondary:hover {
  background: #eceef4;
  box-shadow: inset 0 -1px 0 0 #e0e2ec; }

.lightMode .button--secondary:active {
  box-shadow: none;
  background-color: #e0e2ec; }

.darkMode .button--negative, .darkMode .button--negative:link, .darkMode .button--negative:visited {
  background: #d25650;
  box-shadow: 0 1px 0 0 rgba(11, 1, 1, 0.5), inset 0 1px 0 0 #df6a63;
  color: #fff; }

.darkMode .button--negative:focus {
  background: #d25650;
  box-shadow: 0 1px 0 0 rgba(11, 1, 1, 0.5), 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--negative:hover {
  background: #df6a63;
  box-shadow: 0 1px 0 0 rgba(11, 1, 1, 0.5), inset 0 1px 0 0 #ea807b; }

.darkMode .button--negative:active {
  box-shadow: none;
  background-color: #d25650; }

.lightMode .button--negative, .lightMode .button--negative:link, .lightMode .button--negative:visited {
  background-color: #d25650;
  box-shadow: inset 0 -1px 0 0 #c2433c, inset 0 1px 0 0 #df6a63;
  color: #fff; }

.lightMode .button--negative:focus {
  background-color: #d25650;
  box-shadow: inset 0 1px 0 0 #df6a63, 0 0 0 2px #1a62ff;
  outline: 0; }

.lightMode .button--negative:hover {
  background-color: #df6a63;
  box-shadow: inset 0 -1px 0 0 #d25650, inset 0 1px 0 0 #ea807b; }

.lightMode .button--negative:active {
  box-shadow: none;
  background-color: #d25650; }

.lightMode .button--ghost, .lightMode .button--ghost:link, .lightMode .button--ghost:visited {
  background-color: transparent;
  color: #21253a; }

.lightMode .button--ghost:focus {
  box-shadow: 0 0 0 2px #1a62ff;
  outline: 0; }

.lightMode .button--ghost:hover {
  background-color: rgba(181, 186, 208, 0.2); }

.lightMode .button--ghost:active {
  background-color: rgba(110, 116, 146, 0.2); }

.darkMode .button--ghost, .darkMode .button--ghost:link, .darkMode .button--ghost:visited {
  background-color: transparent;
  color: #f4f5f9; }

.darkMode .button--ghost:focus {
  box-shadow: 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--ghost:hover {
  background-color: rgba(181, 186, 208, 0.1); }

.darkMode .button--ghost:active {
  background-color: rgba(110, 116, 146, 0.1); }

/*
    TODO:

    - [ ] add styling for "disabled"
*/
/* checkbox.scss */
.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 0;
  position: relative;
  vertical-align: top;
  width: 20px; }
  .checkbox:checked:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' vector-effect='non-scaling-stroke' stroke='#f4f5f9' stroke-width='2' viewBox='0 0 24 24' preserveAspectRatio='xMidYMid'><polyline points='20 6 9 17 4 12'></polyline></svg>");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px; }
  .darkMode .checkbox {
    background: rgba(11, 13, 24, 0.1);
    border: 1px solid #565c78;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1);
    color: #fff; }
    .darkMode .checkbox:focus {
      background: rgba(11, 13, 24, 0.1);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #1a62ff;
      outline: 0; }
    .darkMode .checkbox:checked, .darkMode .checkbox:checked:focus {
      background-color: #0091a4;
      box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #00a8bf;
      border: 0; }
    .darkMode .checkbox:checked:disabled:after {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' vector-effect='non-scaling-stroke' stroke='#565c78' stroke-width='2' viewBox='0 0 24 24' preserveAspectRatio='xMidYMid'><polyline points='20 6 9 17 4 12'></polyline></svg>"); }
    .darkMode .checkbox:checked:focus {
      box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff; }
    .darkMode .checkbox:disabled, .darkMode .checkbox:checked:disabled {
      background-color: transparent;
      border: 1px solid rgba(181, 186, 208, 0.5);
      box-shadow: none; }
  .lightMode .checkbox {
    background: rgba(67, 72, 98, 0.03);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05);
    color: #fff; }
    .lightMode .checkbox:focus {
      background: rgba(67, 72, 98, 0.03);
      border: 1px solid #cdd0e0;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #1a62ff;
      outline: 0; }
    .lightMode .checkbox:checked, .lightMode .checkbox:checked:focus {
      background-color: #0091a4;
      box-shadow: inset 0 -1px 0 0 #007685, inset 0 1px 0 0 #00a8bf;
      border: 0; }
    .lightMode .checkbox:checked:disabled:after {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' vector-effect='non-scaling-stroke' stroke='#b5bad0' stroke-width='2' viewBox='0 0 24 24' preserveAspectRatio='xMidYMid'><polyline points='20 6 9 17 4 12'></polyline></svg>"); }
    .lightMode .checkbox:checked:focus {
      box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff; }
    .lightMode .checkbox:disabled, .lightMode .checkbox:checked:disabled {
      background-color: transparent;
      border: 1px solid rgba(181, 186, 208, 0.5);
      box-shadow: none; }

/* input.scss */
.input {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  line-height: 32px;
  transition: border-color 120ms ease-out, box-shadow 120ms ease-out; }
  .input:focus {
    transition-duration: 75ms; }
  .darkMode .input {
    background: rgba(11, 13, 24, 0.1);
    border: 1px solid #565c78;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1);
    color: #fff; }
    .darkMode .input:focus {
      background: rgba(11, 13, 24, 0.1);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #1a62ff;
      outline: 0; }
  .lightMode .input {
    background: rgba(67, 72, 98, 0.03);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05);
    color: #121523; }
    .lightMode .input:focus {
      background: rgba(67, 72, 98, 0.03);
      border: 1px solid #cdd0e0;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #1a62ff;
      outline: 0; }

/* radiobutton.scss */
/* root.scss */
body {
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif; }

/* select.scss */
