@charset "UTF-8";
/* reset.scss */
/* colors.scss */
/*
    "neutral" color shades

    basic, most used colors for the whole UI -
    the lower the number, the lighter the color
*/
/*
    "negative" color shades

    semantic coloring to mark destructive actions
    or error messages - the lower the number,
    the lighter the color
*/
/*
    "primary" color shades

    primary highlight color, also the primary
    brand color, used for all kinds of CTAs -
    the lower the number, the lighter the color
*/
/*
    "focus" color

    used to mark controls, eg. text inputs
    which are in focus state
*/
/* spacing.scss */
/*
    spacing scale

    used for all margins or paddings
    across the whole UI
*/
/* transitions */
/* typography.scss */
/* icons.scss */
/* shared.scss */
/*
    object styles

    shared appearance (eg. button & select, text input & textarea)
    abstracted into reusable mixins, referencing "layer styles"
    by the same names in the Sketch library
*/
/* button.scss */
.button {
  font-weight: 600;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  border: 0;
  cursor: default;
  display: inline-block;
  flex-shrink: none;
  margin: 0;
  text-decoration: none;
  transition: background-color 120ms ease-out, box-shadow 120ms ease-out; }

.button:hover {
  transition-duration: 75ms; }

.button--small {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 18px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px; }

.button--medium {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px; }

.button--large {
  font-size: 19px;
  letter-spacing: 0;
  line-height: 28px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px; }

.button--primary, .button--primary:link, .button--primary:visited {
  background-color: #0091a4;
  box-shadow: inset 0 -1px 0 0 #007685, inset 0 1px 0 0 #00a8bf;
  color: #fff; }

.button--primary:focus {
  background-color: #0091a4;
  box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff;
  outline: 0; }

.button--primary:hover {
  background-color: #00a8bf;
  box-shadow: inset 0 -1px 0 0 #0091a4, inset 0 1px 0 0 #05bdd5; }

.button--primary:active {
  box-shadow: none;
  background-color: #0091a4; }

.darkMode .button--primary, .darkMode .button--primary:link, .darkMode .button--primary:visited {
  background-color: #0091a4;
  box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #00a8bf;
  color: #fff; }

.darkMode .button--primary:focus {
  background-color: #0091a4;
  box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--primary:hover {
  background-color: #00a8bf;
  box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #05bdd5; }

.darkMode .button--primary:active {
  box-shadow: none;
  background-color: #0091a4; }

.button--secondary, .button--secondary:link, .button--secondary:visited {
  background-color: #e0e2ec;
  box-shadow: inset 0 -1px 0 0 #cdd0e0;
  color: #434862; }

.button--secondary:focus {
  background-color: #e0e2ec;
  box-shadow: inset 0 -1px 0 0 #cdd0e0, 0 0 0 2px #1a62ff;
  outline: 0; }

.button--secondary:hover {
  background-color: #eceef4;
  box-shadow: inset 0 -1px 0 0 #e0e2ec; }

.button--secondary:active {
  box-shadow: none;
  background-color: #e0e2ec; }

.darkMode .button--secondary, .darkMode .button--secondary:link, .darkMode .button--secondary:visited {
  background-color: #434862;
  box-shadow: 0 1px 0 0 rgba(11, 13, 24, 0.5), inset 0 1px 0 0 #565c78;
  color: #fff; }

.darkMode .button--secondary:focus {
  background-color: #434862;
  box-shadow: inset 0 1px 0 0 #565c78, 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--secondary:hover {
  background-color: #565c78;
  box-shadow: 0 1px 0 0 rgba(11, 13, 24, 0.5), inset 0 1px 0 0 #6e7492; }

.darkMode .button--secondary:active {
  box-shadow: none;
  background-color: #434862; }

.button--negative, .button--negative:link, .button--negative:visited {
  background-color: #d25650;
  box-shadow: inset 0 -1px 0 0 #c2433c, inset 0 1px 0 0 #df6a63;
  color: #fff; }

.button--negative:focus {
  background-color: #d25650;
  box-shadow: inset 0 1px 0 0 #df6a63, 0 0 0 2px #1a62ff;
  outline: 0; }

.button--negative:hover {
  background-color: #df6a63;
  box-shadow: inset 0 -1px 0 0 #d25650, inset 0 1px 0 0 #ea807b; }

.button--negative:active {
  box-shadow: none;
  background-color: #d25650; }

.darkMode .button--negative, .darkMode .button--negative:link, .darkMode .button--negative:visited {
  background-color: #d25650;
  box-shadow: 0 1px 0 0 rgba(11, 1, 1, 0.5), inset 0 1px 0 0 #df6a63;
  color: #fff; }

.darkMode .button--negative:focus {
  background-color: #d25650;
  box-shadow: 0 1px 0 0 rgba(11, 1, 1, 0.5), 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--negative:hover {
  background-color: #df6a63;
  box-shadow: 0 1px 0 0 rgba(11, 1, 1, 0.5), inset 0 1px 0 0 #ea807b; }

.darkMode .button--negative:active {
  box-shadow: none;
  background-color: #d25650; }

.button--ghost, .button--ghost:link, .button--ghost:visited {
  background-color: transparent;
  color: #21253a; }

.button--ghost:focus {
  box-shadow: 0 0 0 2px #1a62ff;
  outline: 0; }

.button--ghost:hover {
  background-color: rgba(181, 186, 208, 0.2); }

.button--ghost:active {
  background-color: rgba(110, 116, 146, 0.2); }

.darkMode .button--ghost, .darkMode .button--ghost:link, .darkMode .button--ghost:visited {
  background-color: transparent;
  color: #f4f5f9; }

.darkMode .button--ghost:focus {
  box-shadow: 0 0 0 2px #1a62ff;
  outline: 0; }

.darkMode .button--ghost:hover {
  background-color: rgba(181, 186, 208, 0.1); }

.darkMode .button--ghost:active {
  background-color: rgba(110, 116, 146, 0.1); }

.button:disabled, .button:disabled:link, .button:disabled:visited, .button:disabled:focus, .button:disabled:hover, .button:disabled:active {
  background-color: rgba(236, 238, 244, 0.5);
  box-shadow: none;
  color: #b5bad0; }

.darkMode .button:disabled, .darkMode .button:disabled:link, .darkMode .button:disabled:visited, .darkMode .button:disabled:focus, .darkMode .button:disabled:hover, .darkMode .button:disabled:active {
  background-color: rgba(110, 116, 146, 0.2);
  box-shadow: none;
  color: #6e7492; }

/* checkbox.scss */
.checkbox {
  background-color: rgba(67, 72, 98, 0.05);
  border: 1px solid #cdd0e0;
  box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05);
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  height: 20px;
  margin: 0;
  position: relative;
  transition: box-shadow 120ms ease-out;
  vertical-align: top;
  width: 20px; }
  .checkbox:checked:after, .checkbox:checked:disabled:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23f4f5f9%22 stroke-width=%224%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpolyline points=%2220 6 9 17 4 12%22%3E%3C/polyline%3E%3C/svg%3E");
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 12px; }
  .checkbox:invalid, .checkbox.is--invalid {
    background-color: rgba(67, 72, 98, 0.05);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #d25650;
    outline: 0; }
  .checkbox:focus {
    background-color: rgba(67, 72, 98, 0.05);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #1a62ff;
    outline: 0;
    transition-duration: 75ms;
    z-index: 2; }
  .checkbox:checked, .checkbox:checked:focus {
    background-color: #0091a4;
    box-shadow: inset 0 -1px 0 0 #007685, inset 0 1px 0 0 #00a8bf;
    border: 0; }
  .checkbox:checked:disabled:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23b5bad0%22 stroke-width=%224%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpolyline points=%2220 6 9 17 4 12%22%3E%3C/polyline%3E%3C/svg%3E");
    left: 3px;
    top: 3px; }
  .checkbox:checked:focus {
    box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff; }
  .checkbox:disabled, .checkbox:checked:disabled {
    background-color: transparent;
    border: 1px solid rgba(181, 186, 208, 0.5);
    box-shadow: none; }
  .darkMode .checkbox {
    background-color: rgba(11, 13, 24, 0.2);
    border: 1px solid #565c78;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1);
    color: #fff; }
    .darkMode .checkbox:invalid, .darkMode .checkbox.is--invalid {
      background-color: rgba(11, 13, 24, 0.2);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #d25650;
      outline: 0; }
    .darkMode .checkbox:focus {
      background-color: rgba(11, 13, 24, 0.2);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #1a62ff;
      outline: 0; }
    .darkMode .checkbox:checked, .darkMode .checkbox:checked:focus {
      background-color: #0091a4;
      box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #00a8bf;
      border: 0; }
    .darkMode .checkbox:checked:disabled:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23565c78%22 stroke-width=%224%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpolyline points=%2220 6 9 17 4 12%22%3E%3C/polyline%3E%3C/svg%3E"); }
    .darkMode .checkbox:checked:focus {
      box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff; }
    .darkMode .checkbox:disabled, .darkMode .checkbox:checked:disabled {
      background-color: transparent;
      border: 1px solid rgba(181, 186, 208, 0.2);
      box-shadow: none; }

/* input.scss */
.input[type="email"],
.input[type="number"],
.input[type="password"],
.input[type="search"],
.input[type="tel"],
.input[type="text"],
.input[type="url"] {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  background-color: rgba(67, 72, 98, 0.05);
  border: 1px solid #cdd0e0;
  box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05);
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  color: #121523;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  position: relative;
  transition: border-color 120ms ease-out, box-shadow 120ms ease-out; }
  .input[type="email"]:disabled,
  .input[type="number"]:disabled,
  .input[type="password"]:disabled,
  .input[type="search"]:disabled,
  .input[type="tel"]:disabled,
  .input[type="text"]:disabled,
  .input[type="url"]:disabled {
    background-color: transparent;
    border: 1px solid rgba(181, 186, 208, 0.5);
    box-shadow: none;
    color: #cdd0e0; }
  .input[type="email"]:disabled::placeholder,
  .input[type="number"]:disabled::placeholder,
  .input[type="password"]:disabled::placeholder,
  .input[type="search"]:disabled::placeholder,
  .input[type="tel"]:disabled::placeholder,
  .input[type="text"]:disabled::placeholder,
  .input[type="url"]:disabled::placeholder {
    color: #cdd0e0; }
  .input[type="email"]:invalid, .input[type="email"].is--invalid,
  .input[type="number"]:invalid,
  .input[type="number"].is--invalid,
  .input[type="password"]:invalid,
  .input[type="password"].is--invalid,
  .input[type="search"]:invalid,
  .input[type="search"].is--invalid,
  .input[type="tel"]:invalid,
  .input[type="tel"].is--invalid,
  .input[type="text"]:invalid,
  .input[type="text"].is--invalid,
  .input[type="url"]:invalid,
  .input[type="url"].is--invalid {
    background-color: rgba(67, 72, 98, 0.05);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #d25650;
    outline: 0; }
  .input[type="email"]:focus,
  .input[type="number"]:focus,
  .input[type="password"]:focus,
  .input[type="search"]:focus,
  .input[type="tel"]:focus,
  .input[type="text"]:focus,
  .input[type="url"]:focus {
    background-color: rgba(67, 72, 98, 0.05);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #1a62ff;
    outline: 0;
    transition-duration: 75ms;
    z-index: 2; }
  .input[type="email"]::placeholder,
  .input[type="number"]::placeholder,
  .input[type="password"]::placeholder,
  .input[type="search"]::placeholder,
  .input[type="tel"]::placeholder,
  .input[type="text"]::placeholder,
  .input[type="url"]::placeholder {
    font-weight: normal;
    color: #6e7492; }
  .darkMode .input[type="email"], .darkMode
  .input[type="number"], .darkMode
  .input[type="password"], .darkMode
  .input[type="search"], .darkMode
  .input[type="tel"], .darkMode
  .input[type="text"], .darkMode
  .input[type="url"] {
    background-color: rgba(11, 13, 24, 0.2);
    border: 1px solid #565c78;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1);
    color: #fff; }
    .darkMode .input[type="email"]:disabled, .darkMode
    .input[type="number"]:disabled, .darkMode
    .input[type="password"]:disabled, .darkMode
    .input[type="search"]:disabled, .darkMode
    .input[type="tel"]:disabled, .darkMode
    .input[type="text"]:disabled, .darkMode
    .input[type="url"]:disabled {
      background-color: transparent;
      border: 1px solid rgba(181, 186, 208, 0.2);
      box-shadow: none;
      color: #565c78; }
    .darkMode .input[type="email"]:disabled::placeholder, .darkMode
    .input[type="number"]:disabled::placeholder, .darkMode
    .input[type="password"]:disabled::placeholder, .darkMode
    .input[type="search"]:disabled::placeholder, .darkMode
    .input[type="tel"]:disabled::placeholder, .darkMode
    .input[type="text"]:disabled::placeholder, .darkMode
    .input[type="url"]:disabled::placeholder {
      color: #565c78; }
    .darkMode .input[type="email"]:invalid, .darkMode .input[type="email"].is--invalid, .darkMode
    .input[type="number"]:invalid, .darkMode
    .input[type="number"].is--invalid, .darkMode
    .input[type="password"]:invalid, .darkMode
    .input[type="password"].is--invalid, .darkMode
    .input[type="search"]:invalid, .darkMode
    .input[type="search"].is--invalid, .darkMode
    .input[type="tel"]:invalid, .darkMode
    .input[type="tel"].is--invalid, .darkMode
    .input[type="text"]:invalid, .darkMode
    .input[type="text"].is--invalid, .darkMode
    .input[type="url"]:invalid, .darkMode
    .input[type="url"].is--invalid {
      background-color: rgba(11, 13, 24, 0.2);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #d25650;
      outline: 0; }
    .darkMode .input[type="email"]:focus, .darkMode
    .input[type="number"]:focus, .darkMode
    .input[type="password"]:focus, .darkMode
    .input[type="search"]:focus, .darkMode
    .input[type="tel"]:focus, .darkMode
    .input[type="text"]:focus, .darkMode
    .input[type="url"]:focus {
      background-color: rgba(11, 13, 24, 0.2);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #1a62ff;
      outline: 0; }
    .darkMode .input[type="email"]::placeholder, .darkMode
    .input[type="number"]::placeholder, .darkMode
    .input[type="password"]::placeholder, .darkMode
    .input[type="search"]::placeholder, .darkMode
    .input[type="tel"]::placeholder, .darkMode
    .input[type="text"]::placeholder, .darkMode
    .input[type="url"]::placeholder {
      color: #858ca9; }

/* radio.scss */
.radio {
  background-color: rgba(67, 72, 98, 0.05);
  border: 1px solid #cdd0e0;
  box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05);
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  height: 20px;
  margin: 0;
  position: relative;
  transition: box-shadow 120ms ease-out;
  vertical-align: top;
  width: 20px; }
  .radio:invalid, .radio.is--invalid {
    background-color: rgba(67, 72, 98, 0.05);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #d25650;
    outline: 0; }
  .radio:focus {
    background-color: rgba(67, 72, 98, 0.05);
    border: 1px solid #cdd0e0;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.05), 0 0 0 2px #1a62ff;
    outline: 0;
    transition-duration: 75ms;
    z-index: 2; }
  .radio:checked, .radio:checked:focus {
    background-color: #0091a4;
    box-shadow: inset 0 -1px 0 0 #007685, inset 0 1px 0 0 #00a8bf;
    border: 0; }
  .radio:checked:focus {
    box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff; }
  .radio:checked:after {
    background: #fff;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 8px; }
  .radio:disabled {
    background-color: transparent;
    border: 1px solid rgba(181, 186, 208, 0.5);
    box-shadow: none; }
  .radio:checked:disabled {
    background: #e0e2ec;
    border: 0;
    box-shadow: none; }
  .radio:checked:disabled:after {
    background: #b5bad0;
    box-shadow: none; }
  .darkMode .radio {
    background-color: rgba(11, 13, 24, 0.2);
    border: 1px solid #565c78;
    box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1);
    color: #fff; }
    .darkMode .radio:invalid, .darkMode .radio.is--invalid {
      background-color: rgba(11, 13, 24, 0.2);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #d25650;
      outline: 0; }
    .darkMode .radio:focus {
      background-color: rgba(11, 13, 24, 0.2);
      border: 1px solid #565c78;
      box-shadow: inset 0 1px 0 0 rgba(11, 13, 24, 0.1), 0 0 0 2px #1a62ff;
      outline: 0; }
    .darkMode .radio:checked, .darkMode .radio:checked:focus {
      background-color: #0091a4;
      box-shadow: 0 1px 0 0 rgba(0, 10, 11, 0.5), inset 0 1px 0 0 #00a8bf;
      border: 0; }
    .darkMode .radio:checked:focus {
      box-shadow: inset 0 1px 0 0 #00a8bf, 0 0 0 2px #1a62ff; }
    .darkMode .radio:disabled {
      background-color: transparent;
      border: 1px solid rgba(181, 186, 208, 0.2);
      box-shadow: none; }
    .darkMode .radio:checked:disabled {
      background: #353a52;
      border: 0;
      box-shadow: none; }
    .darkMode .radio:checked:disabled:after {
      background: #565c78;
      box-shadow: none; }

/* root.scss */
html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f5f9;
  color: #21253a; }

.darkMode {
  background-color: #21253a;
  color: #fff; }

/* select.scss */
.select {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23565c78%22 stroke-width=%221.5%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpath d=%22M6 9l6 6 6-6%22/%3E%3C/svg%3E");
  background-color: #e0e2ec;
  box-shadow: inset 0 -1px 0 0 #cdd0e0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: border-box;
  color: #121523;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 32px 0 12px;
  transition: box-shadow 120ms ease-out;
  vertical-align: top; }
  .select:invalid, .select.is--invalid {
    background-color: #e0e2ec;
    box-shadow: inset 0 -1px 0 0 #cdd0e0, 0 0 0 2px #d25650;
    outline: 0; }
  .select:focus {
    background-color: #e0e2ec;
    box-shadow: inset 0 -1px 0 0 #cdd0e0, 0 0 0 2px #1a62ff;
    outline: 0;
    transition-duration: 75ms; }
  .select:disabled {
    background-color: rgba(236, 238, 244, 0.5);
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23b5bad0%22 stroke-width=%221.5%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpath d=%22M6 9l6 6 6-6%22/%3E%3C/svg%3E");
    color: #cdd0e0; }
  .darkMode .select {
    background-color: #434862;
    box-shadow: 0 1px 0 0 rgba(11, 13, 24, 0.5), inset 0 1px 0 0 #565c78;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23b5bad0%22 stroke-width=%221.5%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpath d=%22M6 9l6 6 6-6%22/%3E%3C/svg%3E");
    color: #fff; }
    .darkMode .select:invalid, .darkMode .select.is--invalid {
      background-color: #434862;
      box-shadow: inset 0 1px 0 0 #565c78, 0 0 0 2px #d25650;
      outline: 0; }
    .darkMode .select:focus {
      background-color: #434862;
      box-shadow: inset 0 1px 0 0 #565c78, 0 0 0 2px #1a62ff;
      outline: 0; }
    .darkMode .select:disabled {
      background-color: rgba(110, 116, 146, 0.2);
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2216%22 height=%2216%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23565c78%22 stroke-width=%221.5%22 stroke-linecap=%22butt%22 stroke-linejoin=%22arcs%22%3E%3Cpath d=%22M6 9l6 6 6-6%22/%3E%3C/svg%3E");
      color: #565c78; }
