{% extends '_layouts/base.njk' %}
{% block main %}

    <div class="m:flx w-1-1 m-8">
        <div class="w-1-2">
            <script src="https://gist.github.com/reimar/452ed90a2c39b3407fbf4ef9f56c73ca.js"></script>
        </div>
        <div class="w-1-2 m:p-4">
            Oh hi
        </div>
    </div>

    {% include '_partials/footer.njk' %}
{% endblock %}