/* _border.scss */

@use "../design-tokens/border" as *;
@use "../design-tokens/color" as *;
@use "../helpers/utilityClasses" as *;

// application frame borders for dark and light mode

.b-darkmode-applicationFrameBorder {
  @include darkmode-applicationFrameBorder(!important);
}

.b-lightmode-applicationFrameBorder {
  @include lightmode-applicationFrameBorder(!important);
}

// default rounded corners

.b-rounded-small {
  border-radius: $borderRadius-small !important;
}

.b-rounded-large {
  border-radius: $borderRadius-large !important;
}

// solid border, no border color

.b-solid {
  border-width: 1px !important;
  border-style: solid;
}

/*
Generates neutral border color utilities
from design-tokens/_color.scss:

.bc-neutral-10
.bc-neutral-20
...
.bc-neutral-160
*/

@include utility-classes($className: "bc-neutral", $source: $color-neutral, $property: "border-color", $responsive: false);
@include utility-classes($className: "bc", $source: $color, $property: "border-color", $responsive: false);
