/* _width.scss */

@use "../helpers/utilityClasses" as *;
@use "../design-tokens/dimension" as *;
@use "../design-tokens/space" as *;

/*
A scale of absolute heights and widths, generatd
from the map $space in design-tokens/_space.scss

You can read the numeric values as multiplicants of 8px, eg:

$space-05  = 0,5 times 8px
$space-20  = 2 times 8px
$space-100 = 10 times 8px
*/

@include utility-classes($className: "h", $source: $space, $property: "height");
@include utility-classes($className: "w", $source: $space, $property: "width");

/*
A scale of relative widths.
Hint: read eg. "1-2" like "1/2" (one half).
*/

$relativeWidth: (
  "1-1": 100%,
  "1-2": 50%,
  "1-3": 33.3%,
  "1-4": 25%,
  "1-5": 20%,
  "1-6": 16.6%,
  "2-3": 66.6%,
  "2-5": 40%,
  "3-4": 75%,
  "3-5": 60%,
  "4-5": 80%,
);

/*
Generates width utilities from the map
$relativeWidth (see above):

.w-1-1
.w-1-2
...
.w-4-5

The following prefixes for "fluid" breakpoints
are available:

.m:[w-1-1 ... w-4-5]
.l:[w-1-1 ... w-4-5]
.xl:[w-1-1 ... w-4-5]

The following prefixes for "strict" breakpoints
are available:

.only-s:[w-1-1 ... w-4-5]
.only-m:[w-1-1 ... w-4-5]
.only-l:[w-1-1 ... w-4-5]

Fluid breakpoint = styling applies on the
very breakpoint and all larger breakpoints.

Strict breakpoint = styling applies only
on the very breakpoint.
*/

@include utility-classes($className: "w", $source: $relativeWidth, $property: "width");

/*
Generates minimum-width utilities from the map
$relativeWidth (see above):

.w-min-1-1
.w-min-1-2
...
.w-min-4-5

The following prefixes for "fluid" breakpoints
are available:

.m:[w-min-1-1 ... w-min-4-5]
.l:[w-min-1-1 ... w-min-4-5]
.xl:[w-min-1-1 ... w-min-4-5]

The following prefixes for "strict" breakpoints
are available:

.only-s:[w-min-1-1 ... w-min-4-5]
.only-m:[w-min-1-1 ... w-min-4-5]
.only-l:[w-min-1-1 ... w-min-4-5]

Fluid breakpoint = styling applies on the
very breakpoint and all larger breakpoints.

Strict breakpoint = styling applies only
on the very breakpoint.
*/

@include utility-classes($className: "w-min", $source: $relativeWidth, $property: "min-width");

/*
Generates maximum-width utilities from the map
$relativeWidth (see above):

.w-max-1-1
.w-max-1-2
...
.w-max-4-5

The following prefixes for "fluid" breakpoints
are available:

.m:[w-max-1-1 ... w-max-4-5]
.l:[w-max-1-1 ... w-max-4-5]
.xl:[w-max-1-1 ... w-max-4-5]

The following prefixes for "strict" breakpoints
are available:

.only-s:[w-max-1-1 ... w-max-4-5]
.only-m:[w-max-1-1 ... w-max-4-5]
.only-l:[w-max-1-1 ... w-max-4-5]

Fluid breakpoint = styling applies on the
very breakpoint and all larger breakpoints.

Strict breakpoint = styling applies only
on the very breakpoint.
*/

@include utility-classes($className: "w-max", $source: $relativeWidth, $property: "max-width");

// maximum content width

.w-max {
  max-width: $maxContentWidth;
}
