/* spacing.scss */

/*
    spacing scale

    used for all margins or paddings
    across the whole UI
*/

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 32px;
$space-8: 40px;