{% import '_macros/_code.njk' as code %}

{% extends '_layouts/_base.njk' %}
{% block main %}
    <div class="m-x-auto p-l-30 p-r-30 w-max article l:p-t-200 l:p-b-200 m:p-t-80 m:p-b-80 p-t-40 p-b-40">
        <h1>Border</h1>
        <h2>Border Styles</h2>
        <table class="tokenSampleTable">
            <tr>
                <td><span class="tokenSampleBorder tokenSampleBorder--darkMode-applicationFrame"></span></td>
                <td><code class="language-scss">darkmode-applicationFrameBorder()</code></td>
                <td>Application frame border in dark mode, eg. for the main menu, application header</td>
            </tr>
            <tr>
                <td><span class="tokenSampleBorder tokenSampleBorder--lightMode-applicationFrame"></span></td>
                <td><code class="language-scss">lightmode-applicationFrameBorder()</code></td>
                <td>Application frame border in light mode, eg. for the main menu, application header</td>
            </tr>
        </table>
        <h2>Border Radi</h2>
        <table class="tokenSampleTable">
            <tr>
                <td><span class="tokenSampleBorder tokenSampleBorder--small"></span></td>
                <td><code class="language-scss">$borderRadius-small</code></td>
                <td>Rounded corners for smaller components like buttons, input fields, etc.</td>
            </tr>
            <tr>
                <td><span class="tokenSampleBorder tokenSampleBorder--large"></span></td>
                <td><code class="language-scss">$borderRadius-large</code></td>
                <td>Rounded corners for large components like cards, modal windows, etc.</td>
            </tr>
        </table>
    </div>
{% endblock %}