{% import '_macros/_code.njk' as code %}

{% extends '_layouts/_base.njk' %}
{% block main %}
    <div class="m-x-auto p-l-30 p-r-30 w-max article l:p-t-200 l:p-b-200 m:p-t-80 m:p-b-80 p-t-40 p-b-40">
        <h1>Dimension</h1>
        <p class="article__intro">Mostly tokens for fixed widths and heights.</p>
        <table class="tokenSampleTable">
            <tr>
                <td><code class="language-scss">$maxContentWidth</code></td>
                <td>Maximum width for eg. article pages</td>
            </tr>
        </table>
    </div>
{% endblock %}