<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1" />
        <title>Adjust UI Design Language</title>
        {% include '_partials/favicon.njk' %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/color-brewer.min.css">
        <link rel="stylesheet" href="/screen.css" />
        {% block customStyles %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {% block customScripts %}{% endblock %}
    </body>
</html>
