/* button.scss */

// block
// -----

.button {
  @include fs-2;
  @include fw-medium;
  @include resetAppearance;
  @include roundedCorners;
  @include systemFont;
  border: 0;
  cursor: default;
  display: inline-block;
  flex-shrink: none;
  height: $space-7;
  line-height: $space-7;
  margin: 0;
  padding: 0 $space-3;
  text-decoration: none;
  transition: background-color $duration-out-small ease-out, box-shadow $duration-out-small ease-out;
}

.button:hover {
  transition-duration: $duration-in-small;
}

// modifiers
// ---------

// size

.button--small {
  @include fs-1;
  height: $space-6;
  line-height: $space-6;
}

.button--large {
  @include fs-3;
  height: $space-8;
  line-height: $space-8;
  padding: 0 $space-5;
}

// primary

.button--primary {
  .darkMode & {
    &,
    &:link,
    &:visited {
      @include raised-primary-default(dark);
      color: $color-white;
    }

    &:focus {
      @include raised-primary-focus(dark);
    }

    &:hover {
      @include raised-primary-hover(dark);
    }

    &:active {
      @include raised-primary-active(dark);
    }
  }

  .lightMode & {
    &,
    &:link {
      @include raised-primary-default(light);
      color: $color-white;
    }

    &:focus {
      @include raised-primary-focus(light);
    }

    &:hover {
      @include raised-primary-hover(light);
    }

    &:active {
      @include raised-primary-active(light);
    }
  }
}

// secondary

.button--secondary {
  .darkMode & {
    &,
    &:link,
    &:visited {
      @include raised-secondary-default(dark);
      color: $color-white;
    }

    &:focus {
      @include raised-secondary-focus(dark);
    }

    &:hover {
      @include raised-secondary-hover(dark);
    }

    &:active {
      @include raised-secondary-active(dark);
    }
  }

  .lightMode & {
    &,
    &:link,
    &:visited {
      @include raised-secondary-default(light);
      color: $color-neutral-100;
    }

    &:focus {
      @include raised-secondary-focus(light);
    }

    &:hover {
      @include raised-secondary-hover(light);
    }

    &:active {
      @include raised-secondary-active(light);
    }
  }
}

// negative

.button--negative {
  .darkMode & {
    &,
    &:link,
    &:visited {
      @include raised-negative-default(dark);
      color: $color-white;
    }

    &:focus {
      @include raised-negative-focus(dark);
    }

    &:hover {
      @include raised-negative-hover(dark);
    }

    &:active {
      @include raised-negative-active(dark);
    }
  }

  .lightMode & {
    &,
    &:link,
    &:visited {
      @include raised-negative-default(light);
      color: $color-white;
    }

    &:focus {
      @include raised-negative-focus(light);
    }

    &:hover {
      @include raised-negative-hover(light);
    }

    &:active {
      @include raised-negative-active(light);
    }
  }
}

// ghost

.button--ghost {
  .lightMode & {
    &,
    &:link,
    &:visited {
      background-color: transparent;
      color: $color-neutral-130;
    }

    &:focus {
      box-shadow: 0 0 0 2px $color-focus;
      outline: 0;
    }

    &:hover {
      background-color: rgba($color-neutral-50, 0.2);
    }

    &:active {
      background-color: rgba($color-neutral-80, 0.2);
    }
  }

  .darkMode & {
    &,
    &:link,
    &:visited {
      background-color: transparent;
      color: $color-neutral-10;
    }

    &:focus {
      box-shadow: 0 0 0 2px $color-focus;
      outline: 0;
    }

    &:hover {
      background-color: rgba($color-neutral-50, 0.1);
    }

    &:active {
      background-color: rgba($color-neutral-80, 0.1);
    }
  }
}

/*
    TODO:

    - [ ] add styling for "disabled"
*/
