/* input.scss */

.input[type="email"],
.input[type="number"],
.input[type="password"],
.input[type="search"],
.input[type="tel"],
.input[type="text"],
.input[type="url"] {
  @include fs-2;
  @include resetAppearance;
  @include roundedCorners;
  box-sizing: border-box;
  height: $space-7;
  line-height: $space-7;
  padding: 0 $space-2;
  position: relative;
  transition: border-color $duration-out-small ease-out, box-shadow $duration-out-small ease-out;

  &:focus {
    transition-duration: $duration-in-small;
    z-index: 2;
  }

  &::placeholder {
    @include fw-normal;
  }

  .darkMode & {
    @include lowered-default(dark);
    color: $color-white;

    &:disabled {
      @include lowered-disabled(dark);
      color: $color-neutral-90;
    }

    &:disabled::placeholder {
      color: $color-neutral-90;
    }

    &:invalid,
    &.is--invalid {
      @include lowered-invalid(dark);
    }

    &:focus {
      @include lowered-focus(dark);
    }

    &::placeholder {
      color: $color-neutral-70;
    }
  }

  .lightMode & {
    @include lowered-default(light);
    color: $color-neutral-150;

    &:disabled {
      @include lowered-disabled(light);
      color: $color-neutral-40;
    }

    &:disabled::placeholder {
      color: $color-neutral-40;
    }

    &:invalid,
    &.is--invalid {
      @include lowered-invalid(light);
    }

    &:focus {
      @include lowered-focus(light);
    }

    &::placeholder {
      color: $color-neutral-80;
    }
  }
}
