/* radio.scss */

.radio {
  @include lowered-default(light);
  @include resetAppearance;
  border-radius: 50%;
  box-sizing: border-box;
  color: $color-white;
  display: inline-block;
  height: $space-5;
  margin: 0;
  position: relative;
  transition: box-shadow $duration-out-small ease-out;
  vertical-align: top;
  width: $space-5;

  &:invalid,
  &.is--invalid {
    @include lowered-invalid(light);
  }

  &:focus {
    @include lowered-focus(light);
    transition-duration: $duration-in-small;
    z-index: 2;
  }

  &:checked,
  &:checked:focus {
    @include raised-primary-default(light);
    border: 0;
  }

  &:checked:focus {
    box-shadow: inset 0 1px 0 0 $color-primary-80, 0 0 0 2px $color-focus;
  }

  &:checked:after {
    background: $color-white;
    border-radius: 50%;
    content: "";
    height: $space-2;
    left: 6px;
    position: absolute;
    top: 6px;
    width: $space-2;
  }

  &:disabled {
    @include lowered-disabled(light);
  }

  &:checked:disabled {
    background: $color-neutral-30;
    border: 0;
    box-shadow: none;
  }

  &:checked:disabled:after {
    background: $color-neutral-50;
    box-shadow: none;
  }

  // dark mode

  .darkMode & {
    @include lowered-default(dark);
    color: $color-white;

    &:invalid,
    &.is--invalid {
      @include lowered-invalid(dark);
    }

    &:focus {
      @include lowered-focus(dark);
    }

    &:checked,
    &:checked:focus {
      @include raised-primary-default(dark);
      border: 0;
    }

    &:checked:focus {
      box-shadow: inset 0 1px 0 0 $color-primary-80, 0 0 0 2px $color-focus;
    }

    &:disabled {
      @include lowered-disabled(dark);
    }

    &:checked:disabled {
      background: $color-neutral-110;
      border: 0;
      box-shadow: none;
    }

    &:checked:disabled:after {
      background: $color-neutral-90;
      box-shadow: none;
    }
  }
}
