/* root.scss */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @include systemFont;
  background-color: $color-neutral-10;
  color: $color-neutral-130;
}

.darkMode {
  background-color: $color-neutral-130;
  color: $color-white;
}
