/* select.scss */

.select {
  @include fs-2;
  @include icon-chevron-down($size: 16, $stroke: 1.5, $color: $color-neutral-90);
  @include raised-secondary-default(light);
  @include resetAppearance;
  @include roundedCorners;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: border-box;
  color: $color-neutral-150;
  display: inline-block;
  height: $space-7;
  line-height: $space-7;
  margin: 0;
  padding: 0 $space-7 0 $space-3;
  transition: box-shadow $duration-out-small ease-out;
  vertical-align: top;

  &:invalid,
  &.is--invalid {
    @include raised-secondary-invalid(light);
  }

  &:focus {
    @include raised-secondary-focus(light);
    transition-duration: $duration-in-small;
  }

  &:disabled {
    @include raised-disabled(light);
    @include icon-chevron-down($size: 16, $stroke: 1.5, $color: $color-neutral-50);
    color: $color-neutral-40;
  }

  // dark mode

  .darkMode & {
    @include raised-secondary-default(dark);
    @include icon-chevron-down($size: 16, $stroke: 1.5, $color: $color-neutral-50);
    color: $color-white;

    &:invalid,
    &.is--invalid {
      @include raised-secondary-invalid(dark);
    }

    &:focus {
      @include raised-secondary-focus(dark);
    }

    &:disabled {
      @include raised-disabled(dark);
      @include icon-chevron-down($size: 16, $stroke: 1.5, $color: $color-neutral-90);
      color: $color-neutral-90;
    }
  }
}
