/* tooltip.scss */

.tooltip {
  @include fs-2;
  @include roundedCorners;
  background: $color-neutral-100;
  color: $color-white;
  height: $space-7;
  line-height: $space-7;
  padding: 0 $space-2;
  position: relative;

  &:after {
    background: $color-neutral-100;
    content: "";
    height: 8px;
    position: absolute;
    transform: rotate(45deg);
    width: 8px;
  }

  // modifiers

  &.tooltip--pointUp:after {
    left: 50%;
    margin-left: -4px;
    top: -4px;
  }

  &.tooltip--pointRight:after {
    margin-top: -4px;
    right: -4px;
    top: 50%;
  }

  &.tooltip--pointDown:after {
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
  }

  &.tooltip--pointLeft:after {
    left: -4px;
    margin-top: -4px;
    top: 50%;
  }

  // dark mode

  .darkMode & {
    background: $color-neutral-20;
    color: $color-neutral-150;

    &:after {
      background: $color-neutral-20;
    }
  }
}
