/* _border.scss */

@use "color" as *;

// application frame border

@mixin darkmode-applicationFrameBorder($important: null) {
  border-color: $color-neutral-120 $important;
  border-style: solid $important;
  border-width: 1px $important;
}

@mixin lightmode-applicationFrameBorder($important: null) {
  border-color: $color-neutral-30 $important;
  border-style: solid $important;
  border-width: 1px $important;
}

// default border radius

$borderRadius-small: 4px;
$borderRadius-large: 8px;
