/* _border.scss */

@use "color" as *;

// default border style

@mixin darkmode-defaultBorder($important: null) {
  border-color: $color-neutral-120 $important;
  border-style: solid $important;
  border-width: 1px $important;
}

@mixin lightmode-defaultBorder($important: null) {
  border-color: $color-neutral-40 $important;
  border-style: solid $important;
  border-width: 1px $important;
}

// default border radius

$defaultBorderRadius: 2px;

@mixin defaultBorderRadius($important: null) {
  border-radius: $defaultBorderRadius $important;
  background-clip: padding-box $important;
}
