/* _breakPoint.scss */

// breakpoint definition

$bp-m-minWidth: 650px;
$bp-l-minWidth: 960px;
$bp-xl-minWidth: 1440px;

$bp-s-maxWidth: $bp-m-minWidth - 1px;
$bp-m-maxWidth: $bp-l-minWidth - 1px;
$bp-l-maxWidth: $bp-xl-minWidth - 1px;

// "fluid" breakpoints

/*
Media queries with these breakpoints kick in as soon as a certain screen
width is reached. A larger breakpoint overrides all smaller ones.
Example: .m:* is active "from screen size m and up".
*/

@mixin breakpoint-m {
  @media (min-width: #{$bp-m-minWidth}) {
    @content;
  }
}

@mixin breakpoint-l {
  @media (min-width: #{$bp-l-minWidth}) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (min-width: #{$bp-xl-minWidth}) {
    @content;
  }
}

// "strict" breakpoints

/*
Media queries with these breakpoints are active only in their certain range.
Example: .only-m:* is active only on screens within the width range of breakpoint "m".
*/

@mixin breakpoint-only-s {
  @media (min-width: 0) and (max-width: #{$bp-s-maxWidth}) {
    @content;
  }
}

@mixin breakpoint-only-m {
  @media (min-width: #{$bp-m-minWidth}) and (max-width: #{$bp-m-maxWidth}) {
    @content;
  }
}

@mixin breakpoint-only-l {
  @media (min-width: #{$bp-l-minWidth}) and (max-width: #{$bp-l-maxWidth}) {
    @content;
  }
}
