/* _breakPoint.scss */

$bp-m-minwidth: 650px;
$bp-l-minwidth: 960px;
$bp-xl-minwidth: 1440px;

// "fluid" breakpoints

/*
    Media queries with these breakpoints kick in as soon as a certain screen
    width is reached. A larger breakpoint overrides all smaller ones.
    Example: .m:* is active "from screen size m and up".
*/

@mixin breakpoint-m {
    @media (min-width: #{$bp-m-minwidth}) {
        @content;
    }
}

@mixin breakpoint-l {
    @media (min-width: #{$bp-l-minwidth}) {
        @content;
    }
}

@mixin breakpoint-xl {
    @media (min-width: #{$bp-xl-minwidth}) {
        @content;
    }
}

// "strict" breakpoints

/*
    Media queries with these breakpoints are active only in their certain range.
    Example: .only-m:* is active only on screens within the width range of breakpoint "m".
*/

@mixin breakpoint-only-m {
    @media (min-width: #{$bp-m-minwidth}) and (max-width: #{$bp-m-minwidth - 1px}) {
        @content;
    }
}

@mixin breakpoint-only-l {
    @media (min-width: #{$bp-l-minwidth}) and (max-width: #{$bp-l-minwidth - 1px}) {
        @content;
    }
}

@mixin breakpoint-only-xl {
    @media (min-width: #{$bp-xl-minwidth}) and (max-width: #{$bp-xl-minwidth - 1px}) {
        @content;
    }
}
