/* _color.scss */

/*
"Neutral" Color Shades

Basic, most used colors for the whole UI -
the lower the number, the lighter the color.
*/

$color-neutral: (
  "10": #f4f5f9,
  "20": #eceef4,
  "30": #e0e2ec,
  "40": #cdd0e0,
  "50": #b5bad0,
  "60": #9ca2bd,
  "70": #858ca9,
  "80": #6e7492,
  "90": #565c78,
  "100": #434862,
  "110": #353a52,
  "120": #2a2f45,
  "130": #21253a,
  "140": #191d2f,
  "150": #121523,
  "160": #0b0d18,
);

$color-neutral-10: map-get($color-neutral, "10");
$color-neutral-20: map-get($color-neutral, "20");
$color-neutral-30: map-get($color-neutral, "30");
$color-neutral-40: map-get($color-neutral, "40");
$color-neutral-50: map-get($color-neutral, "50");
$color-neutral-60: map-get($color-neutral, "60");
$color-neutral-70: map-get($color-neutral, "70");
$color-neutral-80: map-get($color-neutral, "80");
$color-neutral-90: map-get($color-neutral, "90");
$color-neutral-100: map-get($color-neutral, "100");
$color-neutral-110: map-get($color-neutral, "110");
$color-neutral-120: map-get($color-neutral, "120");
$color-neutral-130: map-get($color-neutral, "130");
$color-neutral-140: map-get($color-neutral, "140");
$color-neutral-150: map-get($color-neutral, "150");
$color-neutral-160: map-get($color-neutral, "160");

/*
"Negative" Color Shades

Semantic coloring to mark destructive actions
or error messages - the lower the number,
the lighter the color.
*/

$color-negative: (
  "10": #fff5f5,
  "20": #ffe4e2,
  "30": #fdcecc,
  "40": #f9b3b0,
  "50": #f39994,
  "60": #ea807b,
  "70": #df6a63,
  "80": #d25650,
  "90": #c2433c,
  "100": #ab332d,
  "110": #902520,
  "120": #6c1914,
  "130": #4d0f0c,
  "140": #360a07,
  "150": #200504,
  "160": #0b0101,
);

$color-negative-10: map-get($color-negative, "10");
$color-negative-20: map-get($color-negative, "20");
$color-negative-30: map-get($color-negative, "30");
$color-negative-40: map-get($color-negative, "40");
$color-negative-50: map-get($color-negative, "50");
$color-negative-60: map-get($color-negative, "60");
$color-negative-70: map-get($color-negative, "70");
$color-negative-80: map-get($color-negative, "80");
$color-negative-90: map-get($color-negative, "90");
$color-negative-100: map-get($color-negative, "100");
$color-negative-110: map-get($color-negative, "110");
$color-negative-120: map-get($color-negative, "120");
$color-negative-130: map-get($color-negative, "130");
$color-negative-140: map-get($color-negative, "140");
$color-negative-150: map-get($color-negative, "150");
$color-negative-160: map-get($color-negative, "160");

/*
  "Primary" Color Shades

  Primary highlight color, also the primary
  brand color, used for all kinds of CTAs -
  the lower the number, the lighter the color.
*/

$color-primary: (
  "10": #edfcff,
  "20": #ccf6ff,
  "30": #a7efff,
  "40": #7be6ff,
  "50": #43dcff,
  "60": #08d3ff,
  "70": #07c5ee,
  "80": #07add3,
  "90": #0590b0,
  "100": #047088,
  "110": #035567,
  "120": #023d4b,
  "130": #012c35,
  "140": #011f26,
  "150": #001419,
  "160": #00080a,
);

$color-primary-10: map-get($color-primary, "10");
$color-primary-20: map-get($color-primary, "20");
$color-primary-30: map-get($color-primary, "30");
$color-primary-40: map-get($color-primary, "40");
$color-primary-50: map-get($color-primary, "50");
$color-primary-60: map-get($color-primary, "60");
$color-primary-70: map-get($color-primary, "70");
$color-primary-80: map-get($color-primary, "80");
$color-primary-90: map-get($color-primary, "90");
$color-primary-100: map-get($color-primary, "100");
$color-primary-110: map-get($color-primary, "110");
$color-primary-120: map-get($color-primary, "120");
$color-primary-130: map-get($color-primary, "130");
$color-primary-140: map-get($color-primary, "140");
$color-primary-150: map-get($color-primary, "150");
$color-primary-160: map-get($color-primary, "160");

// other colors

$color: (
  "brand": map-get($color-primary, "60"),
  "white": #fff,
  "black": #030511,
  "focus": #1a62ff,
  "lightmode-text": map-get($color-neutral, "110"),
  "lightmode-background-z1": map-get($color-neutral, "20"),
  "lightmode-background-z2": map-get($color-neutral, "10"),
  "lightmode-background-z3": #fff,
  "darkmode-text": map-get($color-neutral, "10"),
  "darkmode-background-z1": map-get($color-neutral, "160"),
  "darkmode-background-z2": map-get($color-neutral, "150"),
  "darkmode-background-z3": map-get($color-neutral, "140"),
);

$color-brand: map-get($color, "brand");
$color-white: map-get($color, "white");
$color-black: map-get($color, "black");
$color-focus: map-get($color, "focus");

$lightmode-color-text: map-get($color, "lightmode-text");
$lightmode-color-background-z1: map-get($color, "lightmode-background-z1");
$lightmode-color-background-z2: map-get($color, "lightmode-background-z2");
$lightmode-color-background-z3: map-get($color, "lightmode-background-z3");

$darkmode-color-text: map-get($color, "darkmode-text");
$darkmode-color-background-z1: map-get($color, "darkmode-background-z1");
$darkmode-color-background-z2: map-get($color, "darkmode-background-z2");
$darkmode-color-background-z3: map-get($color, "darkmode-background-z3");
