/* colors.scss */

// achromatic

$color-white: #fff;
$color-black: #222;

/*
    "neutral" color shades

    basic, most used colors for the whole UI -
    the lower the number, the lighter the color
*/

$color-neutral-10: #f4f5f9;
$color-neutral-20: #eceef4;
$color-neutral-30: #e0e2ec;
$color-neutral-40: #cdd0e0;
$color-neutral-50: #b5bad0;
$color-neutral-60: #9ca2bd;
$color-neutral-70: #858ca9;
$color-neutral-80: #6e7492;
$color-neutral-90: #565c78;
$color-neutral-100: #434862;
$color-neutral-110: #353a52;
$color-neutral-120: #2a2f45;
$color-neutral-130: #21253a;
$color-neutral-140: #191d2f;
$color-neutral-150: #121523;
$color-neutral-160: #0b0d18;

/*
    "negative" color shades

    semantic coloring to mark destructive actions
    or error messages - the lower the number,
    the lighter the color
*/

$color-negative-10: #fff5f5;
$color-negative-20: #ffe4e2;
$color-negative-30: #fdcecc;
$color-negative-40: #f9b3b0;
$color-negative-50: #f39994;
$color-negative-60: #ea807b;
$color-negative-70: #df6a63;
$color-negative-80: #d25650;
$color-negative-90: #c2433c;
$color-negative-100: #ab332d;
$color-negative-110: #902520;
$color-negative-120: #6c1914;
$color-negative-130: #4d0f0c;
$color-negative-140: #360a07;
$color-negative-150: #200504;
$color-negative-160: #0b0101;

/*
    "primary" color shades

    primary highlight color, also the primary
    brand color, used for all kinds of CTAs -
    the lower the number, the lighter the color
*/

$color-primary-10: #e5fcff;
$color-primary-20: #bdf6fe;
$color-primary-30: #97f0fc;
$color-primary-40: #6ee8f8;
$color-primary-50: #47ddf1;
$color-primary-60: #25d0e7;
$color-primary-70: #05bdd5;
$color-primary-80: #00a8bf;
$color-primary-90: #0091a4;
$color-primary-100: #007685;
$color-primary-110: #005b67;
$color-primary-120: #00424b;
$color-primary-130: #002e35;
$color-primary-140: #002125;
$color-primary-150: #00171a;
$color-primary-160: #000a0b;

/*
    "focus" color

    used to mark controls, eg. text inputs
    which are in focus state
*/

$color-focus: #1a62ff;