/* icons.scss */

// helper functions

@function preservedStrokeWidth($size, $stroke) {
  /**
   * The base size of all icons is 24px × 24px and currently there is
   * no way to scale an SVG image and preserving its stroke width.
   * In order to render the intended stroke width, we need to calculate it.
   **/
  @return $stroke * (24 / $size);
}

@function svg-encode($svg) {
  /**
   * SVG encoder by Indrek Paas
   * https://gist.github.com/indrekpaas/4d6dfa5c29da805219d4149352c4703b
   *
   * URL-encodes SVG strings in data URIs for better browser compatibility.
   **/

  $encode: (
    '"': "%22",
    "#": "%23",
    "%": "%25",
    "<": "%3C",
    ">": "%3E",
    "{": "%7B",
    "}": "%7D"
  );

  $string: "";
  $character: "";

  @for $i from 1 through str-length($svg) {
    $character: str-slice($svg, $i, $i);

    @if index(map-keys($encode), $character) {
      $character: map-get($encode, $character);
    }

    $string: $string + $character;
  }

  @return url("data:image/svg+xml,#{$string}");
}

// ui icons from https://iconsvg.xyz

@mixin icon-check($size: 24, $stroke: 2, $color: #000000) {
  background-image: svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="#{preservedStrokeWidth($size, $stroke)}" stroke-linecap="butt" stroke-linejoin="arcs"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

@mixin icon-chevron-down($size: 24, $stroke: 2, $color: #000000) {
  background-image: svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="#{preservedStrokeWidth($size, $stroke)}" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M6 9l6 6 6-6"/></svg>');
}

@mixin icon-minus($size: 24, $stroke: 2, $color: #000000) {
  background-image: svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="#{preservedStrokeWidth($size, $stroke)}" stroke-linecap="butt" stroke-linejoin="arcs"><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
}
