/* _icon.scss */

@use "../helpers/svg" as *;

/*
UI icons as SVG background images

Borrowed from https://iconsvg.xyz - will get replaced
with custom icons soon.
*/

@mixin icon-check($size: 24, $stroke: 2, $color: #000000) {
  background-image: svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="#{svg-preserveStrokeWidth($size, $stroke)}" stroke-linecap="butt" stroke-linejoin="arcs"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

@mixin icon-chevron-down($size: 24, $stroke: 2, $color: #000000) {
  background-image: svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="#{svg-preserveStrokeWidth($size, $stroke)}" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M6 9l6 6 6-6"/></svg>');
}

@mixin icon-minus($size: 24, $stroke: 2, $color: #000000) {
  background-image: svg-encode('<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="0 0 24 24" fill="none" stroke="#{$color}" stroke-width="#{svg-preserveStrokeWidth($size, $stroke)}" stroke-linecap="butt" stroke-linejoin="arcs"><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
}
