/* typography.scss */

@use "breakPoint" as *;

// font family

@mixin uiFont($important: null) {
  font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif $important;
}

// font weight

@mixin fontWeight-normal($important: null) {
  font-weight: normal $important;
}

@mixin fontWeight-medium($important: null) {
  font-weight: 600 $important;
}

@mixin fontWeight-bold($important: null) {
  font-weight: 900 $important;
}

// type scale

@mixin typeScale-1($important: null) {
  font-size: 12px $important;
  letter-spacing: 0.2px $important;
  line-height: 18px $important;
}

@mixin typeScale-2($important: null) {
  font-size: 16px $important;
  letter-spacing: 0 $important;
  line-height: 24px $important;
}

@mixin typeScale-3($important: null) {
  font-size: 19px $important;
  letter-spacing: 0 $important;
  line-height: 28px $important;
}

@mixin typeScale-4($important: null) {
  font-size: 23px $important;
  letter-spacing: 0 $important;
  line-height: 32px $important;
}

@mixin typeScale-5($important: null) {
  font-size: 27px $important;
  letter-spacing: -0.5px $important;
  line-height: 36px $important;
}

@mixin typeScale-6($important: null) {
  font-size: 33px $important;
  letter-spacing: -0.75px $important;
  line-height: 38px $important;
}

@mixin typeScale-7($important: null) {
  font-size: 39px $important;
  letter-spacing: -1px $important;
  line-height: 42px $important;
}

@mixin typeScale-8($important: null) {
  font-size: 47px $important;
  letter-spacing: -1.5px $important;
  line-height: 48px $important;
}

// super large "poster" size

@mixin typeScale-poster($important: null) {
  font-size: 60px $important;
  letter-spacing: -1.5px $important;
  line-height: 64px $important;

  @include breakpoint-m() {
    font-size: 90px $important;
    line-height: 98px $important;
  }

  @include breakpoint-l() {
    font-size: 120px $important;
    letter-spacing: -2px $important;
    line-height: 160px $important;
  }
}

// headings

@mixin heading-1($important: null) {
  @include fontWeight-medium($important);
  @include uiFont($important);
  @include typeScale-7($important);
  display: block $important;
}

@mixin heading-2($important: null) {
  @include fontWeight-medium($important);
  @include uiFont($important);
  @include typeScale-6($important);
  display: block $important;
}

@mixin heading-3($important: null) {
  @include fontWeight-medium($important);
  @include uiFont($important);
  @include typeScale-5($important);
  display: block $important;
}

@mixin heading-4($important: null) {
  @include fontWeight-medium($important);
  @include uiFont($important);
  @include typeScale-4($important);
  display: block $important;
}
