.yourComponent {

    // styling for small screens

    ...

    // styling for other breakpoints

    @include breakpoint-m() {
        ...
    }

    @include breakpoint-l() {
        ...
    }

    @include breakpoint-xl() {
        ...
    }
}
