Compose layouts without writing CSS,
design tokens already included:

m:flx   = display:flex from breakpoint M and up
m:w-1-2 = width:50% (1/2) from breakpoint M and up
p-4     = padding of factor 4 on all sides
c-brand = brand text color

<div class="m:flx c-brand">
    <div class="m:w-1-2 p-4">1</div>
    <div class="m:w-1-2 p-4">2</div>
</div>