No more manually picking values from design files!
Use these SASS variables and mixins (= design
tokens) when you write your styles. This is
basically "design translated into code":

.myComponent {
  color: $lightmode-color-text;
  @include raised-seconday-default();
}