@import "reset.scss";

// constants

@import "constants/colors.scss";
@import "constants/spacing.scss";
@import "constants/transitions.scss";
@import "constants/typography.scss";
@import "constants/icons.scss";
@import "constants/shared.scss";

// components

@import "components/button.scss";
@import "components/checkbox.scss";
@import "components/input.scss";
@import "components/radio.scss";
@import "components/root.scss";
@import "components/select.scss";

#testIcon {
  @include icon-arrow-down($size: 56, $stroke: 1, $color: #000000);
  background-color: tomato;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
}
